<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robots2.topo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.robots2.topo.MainTaskActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.robots2.topo.NewTaskActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName="com.robots2.topo.MainTaskActivity" 
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.robots2.topo.MainTaskActivity" />
        </activity>
        <activity
            android:name="com.robots2.topo.UpdateTaskActivity"
            android:label="@string/title_activity_update_task"
            android:parentActivityName="com.robots2.topo.MainTaskActivity" 
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.robots2.topo.MainTaskActivity" />
        </activity>
        <activity
            android:name="com.robots2.topo.CompletedTasksActivity"
            android:label="@string/title_activity_completed_tasks"
            android:parentActivityName="com.robots2.topo.MainTaskActivity"
            android:launchMode="singleTask"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.robots2.topo.MainTaskActivity" />
        </activity>
        <provider 
            android:name=".contentprovider.TaskContentProvider"
            android:authorities="com.robots2.topo.contentprovider.TaskContentProvider"
            android:exported="false">
        </provider>
    </application>

</manifest>
